@keyframes scrollText {
  0%, 100% {
    transform: translateY(0);
  }
  33.3% {
    transform: translateY(-100%);
  }
  66.6% {
    transform: translateY(-200%);
  }
}

.highlight {
  background-color: yellow;
  padding: 0 2px;
}

#scrollToTop {
font-size: 2rem;
}
#scrollToTop:hover {
color: #111;
}
