<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open Minds with Opinions</title>
    <link href="static/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/search.js"></script>

    <!-- your head content -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body class="bg-gradient-to-r from-green-200 via-green-300 to-green-400 min-h-screen flex items-center justify-center flex flex-col min-h-screen">

    <div class="container mx-auto px-4 max-w-2xl">
        <a href="/" class="text-4xl font-bold text-center mt-8 block">
            <h1>See What Podcasters Think Of..</h1>
        </a>
        <div class="overflow-hidden h-8 mb-2 text-center mt-2">
            <div class="animate-scrollText">
                <p class="inline h-8 bg-blue-200 cursor-pointer mx-2" onclick="setFancySentence(event)">GPT-4</p>
                <p class="inline h-8 bg-red-200 cursor-pointer mx-2" onclick="setFancySentence(event)">Silicon Valley Bank</p>
                <p class="inline h-8 bg-yellow-200 cursor-pointer mx-2" onclick="setFancySentence(event)">95th Oscars</p>
            </div>
        </div>
        <form action="#" method="POST" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" onsubmit="event.preventDefault(); executeSearch()">
            <div class="mb-4">
                <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
                    <input type="text" name="search" id="search" placeholder="Any hot event keywords..." class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none">
                    <button type="submit" class="inline-flex items-center px-3 py-1 border rounded text-white bg-black border-black hover:bg-gray-800 hover:border-gray-800">
                        <span>Search</span>
                    </button>
                </div>
            </div>

            <!-- Wrap the filterContainer in a new div with flex, justify-center, and items-center classes -->
            <div class="flex justify-center items-center">
              <div id="filterContainer" class="mb-4 hidden">
                <label for="filterTimestamps" class="inline-flex items-center">
                  <span class="mr-2">Timestamps only</span>
                  <div class="relative">
                    <input type="checkbox" id="filterTimestamps" class="sr-only" checked />
                    <div class="toggle-bg w-10 h-4 bg-gray-300 rounded-full shadow-inner transition-all duration-300 ease-in-out"></div>
                    <div class="toggle-dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0 transition-all duration-300 ease-in-out"></div>
                  </div>
                </label>
              </div>
            </div>

            <div id="searchResults" class="mt-4"></div>
        </form>
    </div>

    <!-- Add this line right before the closing </body> tag -->
    <button id="scrollToTop" class="fixed bottom-4 right-4 cursor-pointer opacity-50 hover:opacity-100 focus:outline-none" onclick="scrollToTop()">&uarr;</button>

    <!-- footer -->
<!--    <footer class="py-4 text-center">-->
<!--        <p class="text-sm text-gray-600">Every line of code in this project is generated by GPT-4.</p>-->
<!--    </footer>-->
</body>
</html>
