<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PodFind: Uniting Perspectives</title>
    <link href="{{ url_for('static', filename='tailwind.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <script defer src="/_vercel/insights/script.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QCP42KYKK7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-QCP42KYKK7');
    </script>

    <script src="{{ url_for('static', filename='search.js') }}"></script>

    <!-- your head content -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body
    class="bg-gradient-to-r from-green-200 via-green-300 to-green-400 min-h-screen flex items-center justify-center flex flex-col min-h-screen">
    <!-- social icons container -->
    <div class="fixed top-4 right-4">
        <a href="https://github.com/mazzzystar/PodFind/" target="_blank" class="text-gray-600 hover:text-gray-800 mx-2">
            <i class="fab fa-github fa-lg"></i>
        </a>

        <a href="{{ url_for('about') }}"
            class="w-6 h-6 ml-2 text-green-900 transition duration-200 hover:text-green-600">
            About
        </a>


    </div>

    <div class="container mx-auto px-4 sm:px-6 md:px-8 max-w-2xl">
        <a href="/" class="text-2xl md:text-4xl font-bold text-center mt-8 block">
            <h1>See Podcasters Thoughts On..</h1>
        </a>
        <div class="overflow-hidden h-8 mb-2 text-center mt-2">
            <div class="scrollText">
                <p class="inline-block px-2 py-1 bg-blue-200 cursor-pointer mx-2 rounded"
                    onclick="setFancySentence(event)">OpenAI</p>
                <p class="inline-block px-2 py-1 bg-purple-100 cursor-pointer mx-2 rounded"
                    onclick="setFancySentence(event)">Generative AI</p>
                <p class="inline-block px-2 py-1 bg-yellow-200 cursor-pointer mx-2 rounded"
                    onclick="setFancySentence(event)">Kamala</p>
                <p class="inline-block px-2 py-1 bg-red-200 cursor-pointer mx-2 rounded"
                    onclick="setFancySentence(event)">Isreal</p>
                <p class="inline-block px-2 py-1 bg-gray-100 cursor-pointer mx-2 rounded"
                    onclick="setFancySentence(event)">Orion</p>
            </div>
        </div>
        <form action="#" method="POST" class="bg-white shadow-md rounded px-4 sm:px-8 pt-6 pb-8 mb-4"
            onsubmit="event.preventDefault(); executeSearch()">
            <div class="mb-4">
                <div class="flex items-center border-b border-b-2 border-teal-500 py-2">
                    <input type="text" name="search" id="search" placeholder="Any hot event keywords..."
                        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none">
                    <button type="submit" id="searchButton"
                        class="inline-flex items-center px-3 py-1 border rounded text-white bg-black border-black hover:bg-gray-800 hover:border-gray-800">
                        <span id="searchButtonText">Search</span>
                        <span id="searchButtonProgress" class="hidden">
                            <i class="fas fa-spinner fa-spin"></i>
                        </span>
                    </button>
                </div>
            </div>

            <div class="flex justify-center items-center">
                <div id="filterContainer" class="mb-4 hidden">
                    <label for="filterTimestamps" class="inline-flex items-center">
                        <span class="mr-2" id="timestampsOnlyText">Timestamps only</span>
                        <div class="relative">
                            <input type="checkbox" id="filterTimestamps" class="sr-only" checked />
                            <div
                                class="toggle-bg w-10 h-4 bg-gray-300 rounded-full shadow-inner transition-all duration-300 ease-in-out">
                            </div>
                            <div
                                class="toggle-dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0 transition-all duration-300 ease-in-out">
                            </div>
                        </div>
                    </label>
                </div>
            </div>

            <div id="searchResults" class="mt-4"></div>
        </form>

    </div>

    <!-- Add this line right before the closing </body> tag -->
    <button id="scrollToTop"
        class="fixed bottom-4 right-4 cursor-pointer opacity-50 hover:opacity-100 focus:outline-none"
        onclick="scrollToTop()">&uarr;</button>


    <!-- footer -->
    <footer class="py-4 text-center">
        <p class="text-sm text-gray-500">Every line of code in this project is generated by GPT-4.</p>
    </footer>
</body>

</html>